.landing-page {
  height: 100vh; /* Full viewport height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-landingpage {
  margin-top: 300px;
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 8px;
}

.btn-landingpage:hover {
  background-color: #f44c91 !important; /* Change this to your desired hover color */
  color: white; /* Optional: Change text color on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
}
