<div class = "container">
  <div class="user-profile">
    <div class="user-image">
      <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
    </div>

    <div class="profile-content">
      <div class="user-name">
    <!-- Display the user's name -->
        <h1><%= @user.username %></h1>
    </div>

    <div class="user-description">
        <p><%= @user.description %></p>
    </div>
  </div>
</div>

  <div class="bottom-sections">
    <div class="user-rating">
        <p>this div is for Rating: / 5</p>
    </div>

    <div class="user-reviews">
      <h2>this div is for Reviews:</h2>
    </div>
  </div>

      <div class="user-trade-items">
        <h2>Items Available for Trade:</h2>
      </div>
  </div>
