<h1 class= "title">WELCOME TO TOYCYCLE</h1>

<p>Give your old toys a new home and discover something exciting in return! ToyCycle is a fun and sustainable way to exchange toys within your community. Whether your child has outgrown their favorite toy or you're looking for something new without spending a fortune, ToyCycle makes it simple, safe, and rewarding.</p>

<div class="btn-container">
  <%= link_to "Experience the magic of trading toys easily", toys_path, class: "btn btn-primary px-4" %>
</div>
