<div class="landing-page" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url('<%= image_path "landingpage.png" %>')">


  <div class="btn-container">
    <%= link_to "Experience the magic of trading toys easily", toys_path, class: "btn-landingpage btn btn-primary px-4" %>
  </div>
</div>
