.form-container {
  max-width: 800px; /* Set a max-width for the form */
  margin: 0 auto;   /* Center the form horizontally */
  margin-top: 20px;
  padding: 20px;    /* Add padding inside the form */
  border: 5px solid #7653f5; /* b
  border-radius: 10px; /* Rounded corners */
  background-color: #7653f5; /* Light background color for contrast */
  color: white;
}

.btn-submit {
  background-color: #f575ae;
  color: white;
  border-radius: 10px;
}

/* Optional: Add some spacing above the form */

.centered-heading {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
