.trade-details {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  width: 75%;

  .toy-image {
    width: 150px; /* Small toy image */
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
}


.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 25%; /* Smaller chat */
  height: 35vh;
  border: 1px solid #ddd;
  background: white;
  margin-top: 10px;
  /* height: calc(100vh - 75px); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;

  h1 {
    font-size: 0.9rem;
    padding: 0.6rem;
    background: white;
    border-bottom: 1px solid #ddd;
    margin: 0;
    text-align: center;
  }

  .messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0.5rem;
  }

  #new_message {
    border-top: 1px solid #ddd;
    padding: 0.5rem;
    background: white;
    .form-group {
      margin-bottom: 0;
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }

  .message-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
  }

  .message-content {
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message.sent .message-content {
    align-self: flex-end;
    background: $blue;
    color: $light-gray;
  }

  .message.received .message-content {
    align-self: flex-start;
    background: $gray-200;
  }
}
