.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0.5rem 1rem; /* Reduce navbar height */
  padding: 5px 15px; /* Reduce padding */
  height: 120px; /* Adjust overall height */
}


.btn-search {
  background-color: #7653f5;
  border-color: #7653f5;
  color: white;
  border-radius: 10px;
}

.btn-search:hover {
  background-color: #5f42c4;
  border-color: #5f42c4;
  color: white;
}

.search-form {
  margin-left: 20px; /* Adjust as needed */
}

.btn-newtoy {
  background-color: #f575ae;
  border-color: #f575ae;
  color: white;
  border-radius: 10px;
  white-space: nowrap;
  display: inline-block;
  margin-right: 80px;
}

.btn-newtoy:hover {
  background-color: #f44c91;
  border-color: #f44c91;
  color: white;
}

.logo-container {
  margin-left: 10px; /* Reduce left margin */

}

.logo {
  width: 100px; /* Adjust for desired size */
  height: 100px; /* Make it square */
  object-fit: contain; /* Ensures the image is properly scaled */
}

.custom-width {
  max-width: 600px; /* Adjust to your needs */
  width: 100%; /* Ensures responsiveness */
}


.navbar {
  padding: 8px 15px; /* Reduce height */
  border-bottom: 12px solid #7653F5; /* Reduce border size */
}


.navbar-nav .nav-item {
  white-space: nowrap; /* Prevent line breaks */
  display: flex;
  align-items: center;
}
