.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


// .nav-item {
//   text-align: center;
//   display: inline-block;  /* Makes each link behave like a button */
//   margin: 5px;           /* Adds space between buttons */
// }

// .nav-item a {
//   display: inline-block;
//   padding: 10px 20px;     /* Adjust padding to make the button look nice */
//   text-align: center;     /* Center the text */
//   text-decoration: none;
//   border-radius: 8px;
//   font-weight: bold;
//   color: white;           /* Text color */
//   transition: background-color 0.3s ease; /* Smooth transition */
// }

// /* Different colors for each button */
// .btn-educational {
//   background-color: #007bff; /* Blue */
// }

// .btn-outdoor {
//   background-color: #28a745; /* Green */
// }

// .btn-creative {
//   background-color: #ffc107; /* Yellow */
// }

// .btn-action {
//   background-color: #dc3545; /* Red */
// }

// /* Hover effects */
// .nav-item a:hover {
//   opacity: 0.8;
// }


.navbar {
  border-bottom: 25px solid #7653F5; /* Adjust thickness and color */
}

.navbar .btn-primary {
  background-color: #00CACD; /* Change button color */
  border-color: #00CACD;
  padding: 8px 16px;
  font-weight: bold;
  white-space: nowrap;
  &:hover {
    background-color: #008B8E; /* Darker shade on hover */
  }
}
